[Unit]
Description=Cacophony device register service
After=multi-user.target network.target
ConditionPathExists=!/etc/salt/minion_id

[Service]
ExecStart=/usr/bin/device-register --reboot --retry-until-registered --prefix tc2
Type=oneshot

[Install]
WantedBy=multi-user.target
